<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: "alert alert-info" %>
    <% end -%>
<h2>Редактировать карточку</h2>

<%= form_for @card, html: { multipart: true } do |f| %>
 <%= render(:partial => "form", :locals => {:f => f}) %>
 <% end %>



