<h2>Редактировать карточку</h2>

<%= form_for(:card, :url => card_path(@card), method: :patch) do |f| %>
 <%= render(:partial => "form", :locals => {:f => f}) %>


<%= submit_tag("Добавить", :class => "btn btn-success")%><br />
<% end %>